body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header.bg {
	background-position: center;
	background-image: url("header.jpg");
	background-size: cover;
	height: 100%;
}

.upper {
	text-transform : uppercase;
}

h1 {
	color: #fff;
	font-size: 2rem;
}

.btn-change {
	background-color:#ff3333;
	border-color: #ff3333;
	border-radius: 100px;
}